
.time-pickerStart {
    max-width: 150px;
    margin-right: 150px;
}

.time-pickerEnd {
    max-width: 150px;
}

@media (max-width: 576px) {

    .time-pickerStart,
    .time-pickerEnd {
        max-width: 94px;
        /* Ajusta el ancho de los selectores en pantallas pequeñas */
        margin-right: 5px;
        /* Ajusta el espacio entre los selectores en pantallas pequeñas */
        margin-left: 5px;
        /* Ajusta el espacio entre los selectores en pantallas pequeñas */
    }
}