.tag-container {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.tag-label {
  position: absolute;
  top: -14px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
}

.table-scroll {
  overflow-y: auto;
  max-height: 120px;
  scrollbar-width: thin;
}

.bi-eye,
.bi-eye-slash {
  font-size: 1.2em;
}

.custom-btn-green-outline:hover {
  background-color: transparent !important;
  border: 1px solid #28a745 !important;
  color: #28a745 !important;
}

.modified {
  border: 5px solid #00ff66; /* Cambia el color del borde para indicar el cambio */
}
