.formulario-principal {
  background-color: #f1f0f0; /*Quitarlo al final*/
  width: 100%;
  border-radius: 15px;
  margin: 25px auto;
  padding: 20px;
  font-weight: bold;
}


/*Marco de cada caja*/
.tag-container {
  border: 2px solid #ccc;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 0px;
}


/*teachers component*/
.teacher-container {
  border: 2px solid #ccc;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 0px;
}

.periods-container {
  /* background-color: #cecccc; */
  border-radius: 15px;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  margin-top: -0px;
}
.scrol-teacher{
  overflow-y: auto;
  max-height:206px;
  scrollbar-width: thin;
}

.scrol-teacher-modal {
  overflow-y: auto;
  max-height: 280px;
  scrollbar-width: thin;
}

/* Estilos por defecto */
.button-edit {
  font-size: 26px;
  color: rgb(0, 0, 0);
}

.edit-label {
  margin-left: 82px;
    font-weight: bold;
  
}

/* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .button-edit {
    font-size: 18px;
    margin-bottom: 8px;
    /* Espacio entre el botón y la etiqueta "Editar" */
  }

  .label-edit {
    margin-left: 0;
    display: block;
    text-align: center;
  }
}

/*materia and reason components*/
.materia-reason-container {
  display: flex;
  flex-direction: column;
}

.materia-tag {
  width: 223px;
}

.materia-label {
  margin-bottom: -7px;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .materia-reason-container {
    flex-direction: row;
  }
    .materia-tag {
      width: 900px;
    }
}

/*Student and date components*/
.student-date-container {
  display: flex;
  flex-direction: row;
}

.student-label,
.date-label {
  margin-right: 20px;
}

.student-tag{
  margin-right: 50px;
}

/* change for resposive*/
@media (max-width: 600px) {
  .student-date-container {
    flex-direction: column;
  }
  .student-label,
  .date-label {
    margin-right: 0;
    margin-bottom: 2px;
  }
}



/*Mantener el header de la tabla nombre y grupo*/
.sticky-header {
  position: sticky;
  top: 0;
}

/*time piker start and end*/
.tag-label {
  position: absolute;
  top: -14px;
  /* posición vertical */
  left: 10px;
  /* posición horizontal */
  background-color: white;
  padding: 0 10px;
  /* relleno horizontal */
  font-weight: bold;
}

.time-container {
  /* background-color: #cecccc; */
  border-radius: 15px;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  margin-top: -0px;
}

.tag-time-container {
  border: 2px solid #ccc;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 0px;
}

.time-pickerStart {
  max-width: 550px;
  margin-right: 150px;
}

.time-pickerEnd {
  max-width: 550px;
}




