.custom-btn-red-outline:hover {
  background-color: transparent !important;
  border: 1px solid #dc3545 !important; /* Color del borde danger */
  color: #dc3545 !important; /* Color del texto danger */
}

.custom-btn-gray-outline:hover {
  background-color: transparent !important;
  border: 1px solid #6c757d !important;
  color: #6c757d !important;
}

.custom-btn-primary-outline:hover {
  background-color: transparent !important;
  border: 1px solid #2478e6 !important;
  color: #2478e6 !important;
}
