.custom-btn-gray-outline:hover {
  background-color: transparent !important;
  border: 1px solid #6c757d !important;
  color: #6c757d !important;
}

.custom-btn-green-outline:hover {
  background-color: transparent !important;
  border: 1px solid #28a745 !important;
  color: #28a745 !important;
}

.hover-edit:hover {
  background-color: #9c9c9c;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
