/*Font negrita*/
.bold-text {
  font-weight: bold;
}

/*Buttton Edit*/
.custom-button {
  width: 120px;
}


.custom-btn-primary-outline:hover {
  background-color: transparent !important;
  border: 1px solid #2478e6 !important;
  color: #2478e6 !important;
}

.custom-btn-gray-outline:hover {
  background-color: transparent !important;
  border: 1px solid #6c757d !important;
  color: #6c757d !important;
}



/*Estatus de Environment*/
.bg-green {
  background-color: rgb(46, 204, 113);
  color: black;
  border-radius: 7px;
}

.bg-red {
  background-color: rgb(236, 112, 99);
  color: black;
  border-radius: 7px;
}
