body {
  background: #eee;
  min-width: 300px;
}

#side_nav {
  background: white;
  min-width: 200px;
  max-width: 240px;
  transition: all 0.3s;
  font-size: 14px;
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  background: #eee;
}

.sidebar {
  position: relative;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f8f9fa; /* Ajusta el color de fondo si es necesario */
  border-top: 1px solid #ddd; /* Añade una línea superior si es necesario */
}

.sidebar li.active {
  background: #eee;
  border-radius: 50px;
}
.sidebar li:hover {
  background-color: #eee;
  border-radius: 50px;
}

.hover:hover {
  background-color: #eee;
  cursor: pointer;
  border-radius: 50px;
}

.sidebar li a {
  color: black;
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: absolute;
    min-height: 100vh;

    z-index: 1;
  }
  #side_nav.active {
    margin-left: 0;
  }
  .title {
    display: none;
  }
}

.scroll {
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
}
