body {
  background: #000000;
  min-width: 300px;
}

#side_nav {
  background: #041231;

  min-width: 200px;
  max-width: 240px;
  transition: all 0.3s;
  font-size: 14px;

  /* margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; */
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  background: #eee;
}

.sidebar {
  position: relative;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #041231;
  border-top: 1px solid #ddd;
}

.sidebar li.active,
.user-name {
  background: #8d7458;
  border-radius: 50px;
}
.sidebar li:hover {
  background-color: #bb9988;
  border-radius: 50px;
}

.user-hover:hover {
  background-color: #bb9988;
  cursor: pointer;
  border-radius: 50px;
}

.sidebar li a {
  color: black;
}

.menu-navbar {
  background: #041231;
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: absolute;
    min-height: 100vh;

    z-index: 1;
  }
  #side_nav.active {
    margin-left: 0;
  }
  .title {
    display: none;
  }
}

.scroll {
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}
