body {

    font-family: 'Arial', sans-serif;
    background-color: #02070f;
    color: white;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.color-home {
    background: #041231;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(241, 24, 24, 0.1);
}

.color-footer {
    background: #041231;
    font-size: 13px;

}

.logo-image {
    max-width: 16%;
    border-radius: 10px;
    margin-right: 10px;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn-quote {
    background: #2677c2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background 0.5s ease;
}

.color-body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 50px 20px;

}

.color-body h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.color-body h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.umss-Logo,
.fcyt-Logo {
    max-width: 40%;
}

.sura-Logo {
    max-width: 80%;
}

.mecanica-Logo {
    max-width: 70%;
}

.civil-Logo {
    max-width: 84%;
}

.color-card {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(50deg, #00146b, #bb1111);
    color: rgb(255, 255, 255);
    padding: 100px 20px;
    position: relative;
}


.hover-card {
    transition: transform 0.3s, box-shadow 0.3s;

}

.hover-card:hover {
    transform: translateY(-15px);
}

.footer {
    background: #0a0a23;
    color: white;
    padding: 20px 0;
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    font-weight: bold;
}

.footer p {
    font-size: 14px;
    line-height: 5px;
}

.footer .social-icons a {
    font-size: 18px;
    display: inline-block;
    background: #0a0a23;
    color: white;
    line-height: 1;
    padding: 10px;
    margin-right: 5px;
    transition: 0.3s;
}

.footer .social-icons a:hover {
    background: #f1f1f1;
    color: #0a0a23;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
}



/*responsive*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .color-body h1 {
        font-size: 36px;
    }

    .color-body p {
        font-size: 16px;
    }

    .color-card h1 {
        font-size: 36px;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .logo-image {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
    }

    .hover-card {
        max-width: 90%;
    }

    .umss-Logo,
    .fcyt-Logo {
        max-width: 40%;
    }

    .sura-Logo {
        max-width: 80%;
    }


    .footer h4 {
        font-size: 16px;
    }

    .footer p {
        font-size: 10px;
        line-height: 8px;
    }

    .footer .social-icons a {
        font-size: 16px;
        padding: 8px;
    }

    .footer-bottom {
        padding-top: 15px;
    }
}