.tag-container {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.tag-label {
  position: absolute;
  top: -14px; /* posición vertical */
  left: 10px; /* posición horizontal */
  background-color: white;
  padding: 0 10px; /* relleno horizontal */
  font-weight: bold;
}

.custom-btn-primary-outline:hover {
  background-color: transparent !important;
  border: 1px solid #2478e6 !important;
  color: #2478e6 !important;
}

.custom-btn-gray-outline:hover {
  background-color: transparent !important;
  border: 1px solid #6c757d !important;
  color: #6c757d !important;
}

.custom-btn-green-outline:hover {
  background-color: transparent !important;
  border: 1px solid #28a745 !important;
  color: #28a745 !important;
}
